* {
	color: #FFFFE7;
	background-color: #FF4444;
	font-family: monospace;
	text-align: center;
}

h1 {
	font-size: 4em;
	color: #222222;
}

a:hover {
	color: #222222;
}

#score {
	font-weight: bold;
}
